<div class="row">

  <div class="col-md-1">
      
  </div>

  <div class="col-md-1">
      
  </div>

  <div class="col-md-1">
    <a href="http://seed.ap.gov.br" target="_blank">
      <%= image_tag("seed.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
    <a href="http://sigeduc.ap.gov.br" target="_blank">
      <%= image_tag("sigeduc.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
    <a href="http://edoc.ap.gov.br" target="_blank">
      <%= image_tag("e-doc.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
    <a href="http://portal.sigrh.ap.gov.br" target="_blank">
      <%= image_tag("sigrh.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
    <a href="http://webmail.amapa.gov.br" target="_blank">
      <%= image_tag("webmail.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
    <a href="http://siged.seed.ap.gov.br" target="_blank">
      <%= image_tag("siged.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
    <a href="http://processoseletivo.ap.gov.br" target="_blank">
      <%= image_tag("processo seletivo.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
    <a href="http://sead.ap.gov.br" target="_blank">
      <%= image_tag("sead.png", :class=>"img-responsive") %>
    </a>  
  </div>

  <div class="col-md-1">
      
  </div>

  <div class="col-md-1">
      
  </div>

</div>  

<br/>