<!-- Chat box -->
<div class="box box-success">
  <div class="box-header">
    <i class="fa fa-bullhorn" aria-hidden="true"></i>


    <h3 class="box-title">Comunicados</h3>

    <div class="box-tools pull-right" data-toggle="tooltip" title="Atualizar">
      <div class="btn-group" data-toggle="btn-toggle">
         <a href="javascript:history.go(0)"><span class="fa fa-refresh"></span></a>
      </div>
    </div>
  </div>
  <div style="overflow:auto; max-height:300px; width:auto;" class="box-body chat" id="chat-box">

    <% if @noticias_rapidas.any? %>
      <% @noticias_rapidas.each do |m| %>
        <!-- chat item -->
        <div class="item">
          <% if !m.user.avatar.blank? %>
            <img src="<%= m.user.avatar.url(:thumb) %>" alt="img usu" class="online">
          <% else %>
            <%= image_tag('user-default.jpg', :class=>"online") %>
          <% end %>
          <p class="message">
            <a href="#" class="name">
              <small class="text-muted pull-right"><%= (m.user.name.split(" ").first).capitalize %> <br/> <i class="fa fa-clock-o"></i> <%= m.created_at.strftime("%d/%m %H:%M") %></small>
              <%= m.titulo %>
            </a>
            <%= m.informacoes %>
          </p>
        </div>
        <!-- /.item -->
      <% end %>
    <% end %>

  </div>
  <!-- /.chat -->

</div>
<!-- /.box (chat box) -->
