<% content_for :titulo do %>
  Destinos
<% end %>

<% content_for :sub_titulo do %>
  
  Lista de Destinos 
  <%= link_to link_icone('novo'), new_destiny_path, :class=> 'btn btn-success', :title=>"Novo Destino" %>
 
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Municipio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @destinies.each do |destiny| %>
      <tr>
        <td><%= destiny.nome %></td>
        <td><%= destiny.municipio %></td>
        <td>
          <%= link_to link_icone('detalhes'), destiny_path(destiny), :class => 'btn btn-default', :title=>"Detalhes" %>
          <% if can? :update, destiny %>
            <%= link_to link_icone('editar'), edit_destiny_path(destiny), :class => 'btn btn-primary', :title=>"Editar" %>
          <% end %>          
          <% if can? :delete, destiny %>
            <%= link_to link_icone('apagar'), destiny_path(destiny), :class=>"btn btn-danger", method: :delete, data: { confirm: 'Você está certo disso?' }, :title=>"Apagar" %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>