<% content_for :titulo do %>
  Equipamentos
<% end %>

<% content_for :sub_titulo do %>
  Lista de Equipamentos
  <%= link_to link_icone('novo'), new_equipamento_path, :class=> 'btn btn-success', :title=>"Novo Equipamento" %>

<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Modelo</th>
      <th>Nome</th>
      <th>Status</th>
      <th>Departamento</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @equipamentos.each do |equipamento| %>
      <tr>
        <td><%= detalhes2(equipamento.detalhes_equipamento.tipo_equipamento, :tipo) %></td>
        <td><%= detalhes(equipamento.nome) %></td>
        <td><%= detalhes2(equipamento.detalhes_equipamento, :modelo) %></td>
        <td><%= detalhes2(equipamento.status_equipamento, :status) %></td>
        <td><%= detalhes2(equipamento.departamento, :sigla) %></td>
        <td>
          <%= link_to link_icone('detalhes'),
                    equipamento_path(equipamento), :class => 'btn btn-default', :title=>"Detalhes" %>
          <%= link_to link_icone('editar'),
                    edit_equipamento_path(equipamento), :class => 'btn btn-primary', :title=>"Editar" %>
          <% if can? :delete, equipamento %>
            <%= link_to link_icone('apagar'), equipamento_path(equipamento), :class=>"btn btn-danger", method: :delete, data: { confirm: 'Você está certo disso?' }, :title=>"Apagar" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br/>
