<% content_for :titulo do %>
  Equipamentos
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Equipamento
<% end %>

<p>
  <strong>Tipo:</strong>
  <%= detalhes2(@equipamento.detalhes_equipamento.tipo_equipamento, :tipo) %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= detalhes2(@equipamento.detalhes_equipamento, :modelo) %>
</p>

<p>
  <strong>Configuração:</strong>
  <%= detalhes2(@equipamento.detalhes_equipamento, :configuracao) %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= detalhes2(@equipamento.departamento, :sigla) %>
</p>

<p>
  <strong>Estado:</strong>
  <%= detalhes2(@equipamento.status_equipamento, :status) %>
</p>

<p>
  <strong>Data Aquisição:</strong>
  <%= detalhes(@equipamento.data_aquisicao) %>
</p>

<p>
  <strong>Nota:</strong>
  <%= detalhes(@equipamento.nota) %>
</p>

<p>
  <strong>Serie:</strong>
  <%= detalhes(@equipamento.serie) %>
</p>

<p>
  <strong>Patrimonio:</strong>
  <%= detalhes(@equipamento.patrimonio) %>
</p>

<p>
  <strong>Nome:</strong>
  <%= detalhes(@equipamento.nome) %>
</p>

<p>
  <strong>Mac:</strong>
  <%= detalhes(@equipamento.mac) %>
</p>

<p>
  <strong>Especificações:</strong>
  <%= detalhes(@equipamento.especificacoes) %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= detalhes(@equipamento.descricao) %>
</p>

<hr/>

<p>
  <strong>Situação:</strong>
  <%= @equipamento.situacao %>
</p>

<% if @equipamento.situacao == "CESSAO" %>
  
  <% if @equipamento.departamento_emprestimo_id != nil %>
    <p>
      <strong>Emprestado do Departamento:</strong>
      <%= detalhes2(@equipamento.departamento_emprestimo, :sigla) %>
    </p>
  <% elsif @equipamento.escola_id != nil %>
    <p>
      <strong>Emprestado da Escola:</strong>
      <%= detalhes2(@equipamento.escola, :nome) %>
    </p>
  <% else %>
    <p>
      <strong>Emprestado do Orgao:</strong>
      <%= detalhes2(@equipamento.orgao, :nome) %>
    </p>
  <% end %>
<% end %>

<% if @equipamento.situacao == "PATRIMONIO" %>
  <p>
    <strong>Data que foi para o Patrimonio:</strong>
    <%= @equipamento.data_patrimonio %>
  </p>
<% end %>

<% if @equipamento.situacao == "PARTICULAR" %>
  <p>
    <strong>Proprietario:</strong>
    <%= @equipamento.proprietario %>
  </p>
<% end %>

<% if @equipamento.situacao == "DOACAO" %>
  <p>
    <strong>Doado por:</strong>
    <%= @equipamento.doador %>
  </p>
<% end %>



<%= link_to link_icone('voltar'), equipamentos_path, :class=>'btn btn-default', :title=>"Voltar" %>
<% if current_user.nao_admin_nao_tecnico %>
  <%= link_to link_icone('editar'), edit_equipamento_path(@equipamento), :class=>"btn btn-primary", :title=>"Editar" %>
  <%= link_to link_icone('nova'), new_equipamento_path, :class=> 'btn btn-success', :title=>"Novo equipamento" %>
<% end %>
