<% content_for :titulo do %>
  Usuários
<% end %>

<% content_for :sub_titulo do %>
  Editando Conta
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true, html: { method: :put, :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% if resource.avatar == nil %>
      <h4>Sem avatar</h4>
    <% else %>
      <h4>Avatar Atual</h4>
      <h4>
        <%= image_tag(resource.avatar.url(:thumb)) %>
      </h4>
    <% end %>

    <div class="row">

      <div class="col-md-6">
        <%= f.input :avatar, as: :file, :label=>"Selecionar Avatar - (100x100)", :class => 'btn-primary' %>
      </div>

      <div class="col-md-6">
      
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <%= f.input :name, :label=>"Nome", required: true, validate: { presence: true } %>
      </div>

      <div class="col-md-3">
        <%= f.input :nascimento, :as=>:string,:label=>"Data de Nascimento", required: true, :input_html=>{:class=>'data', :value=>(resource.nascimento.strftime("%d/%m/%Y") if resource.nascimento != nil)} %>
      </div>

      <div class="col-md-3">
        <%= f.input :cpf, :label=>"CPF", required: true, :input_html=>{:class=>'cpf'}, validate: { presence: true } %>
      </div>


    </div>

    <div class="row">

      <div class="col-md-6">
        <%= f.input :email, :label=>"E-mail", required: true, validate: { presence: true } %>
      </div>

      <div class="col-md-6">
        <%= f.input :current_password, :label=>"Senha Atual", hint: "* Precisamos de sua senha atual para confirmar as alterações", required: true, validate: { presence: true } %>
      </div>
        
      
    </div>

    <div class="row">
      
      <div class="col-md-6">

      </div>

      <div class="col-md-3">
        <%= f.input :password, :label=>"Nova Senha", autocomplete: "off", hint: "Deixe em branco caso não queira trocar a senha", required: false %>
      </div>

      <div class="col-md-3">
        <%= f.input :password_confirmation, :label=>"Confirmar Nova Senha", hint: "Deixe em branco caso não queira trocar a senha", required: false %>
      </div>

    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :mudar_senha, :input_html=>{:value=>false}, as: :hidden %>

  </div>

  <br/>

  <div class="form-actions" align="center">
    <%= f.button :submit, "Atualizar", :class=>"btn btn-primary" %>
    <%= link_to "Voltar", :back, :class=>'btn btn-default' %>
  </div>

  <br/>

<% end %>

