<% content_for :titulo do %>
  SC | Agenda
<% end %>

<% content_for :sub_titulo do %>
  SC | Lista de Itens na Agenda
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Ordem</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Tipo</th>
      <th>Titulo</th>

      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @cont = 1 %>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= @cont %><% @cont = @cont + 1 %></td>
        <td><%= detalhes(agenda.data_hora.strftime("%d/%m/%Y")) %></td>
        <td><%= detalhes(agenda.data_hora.strftime("%H:%M")) %></td>
        <td><%= agenda.tipo %></td>
        <td><%= agenda.titulo %></td>

        <td>
          <%= link_to link_icone('detalhes'),
                    intranet_agenda_show_path(:agenda_id=>agenda.id), :class => 'btn btn-default', :title=>"Detalhes" %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>
