<% content_for :titulo_intra do %>
	<section class="content-header">
	  <h1>
	    Siscom Seed
	    <small>Seja bem-vindo</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
	    <li class="active">Area de Trabalho</li>
	  </ol>
	</section>
<% end %>

<% content_for :corpo_intra do %>

	<section class="content">
    <!-- Info boxes -->
    <%= render 'layouts/intranet/infobox' %>

    <div class="row">

      <div class="col-md-12">
      	<%= render 'layouts/messages' %>
			  <%= render 'layouts/intranet/informativos' %>
			</div>

		</div>

		<div class="row">

			<div class="col-md-8">
				<%= render 'layouts/intranet/mural' %>
			
				<%= render 'layouts/intranet/projetos' %>
				
				<div class="row">
					<div class="col-md-6">
						<%= render 'layouts/intranet/incidentes' %>
					</div>
					<div class="col-md-6">
						<%= render 'layouts/intranet/aniversariantes' %>
					</div>
				</div>
			</div>

			<div class="col-md-4">
			  <%= render 'layouts/intranet/agendas' %>
			  <%= render 'layouts/intranet/visitantes' %>
			</div>

    </div>


  </section>
  <!-- /.content -->

<% end %>
