<% content_for :titulo do %>
  Visitantes
<% end %>

<% content_for :sub_titulo do %>
  Nova Visita
<% end %>

<h4>
<strong>VISITANTE </strong><%= @visitante.nome %>
</h4>
<br/>

<%= simple_form_for([@visitante, @visitum]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="row">
  		<div class="col-md-6">
  			<%= f.input :departamento_nome, :label=>'Selecione o Destino', :url => autocomplete_departamento_nome_usuarios_path, :as => :autocomplete, :id_element => "#departamento_id" ,:input_html=>{:value=>(@visitum.departamento.sigla if @visitum.departamento)}%>

      	<%= f.input :departamento_id, :as => :hidden, :input_html => { :id => "departamento_id"} %>
  		</div>
  		<div class="col-md-6">
  			
  		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-6">
  			<%= f.input :observacoes %>
  		</div>
  		<div class="col-md-6">
  			
  		</div>
  	</div>
        
  </div>

  <%= f.input :status, as: :hidden, :input_html=>{:value=>"EM VISITA"} %>
  <%= f.input :entrada, as: :hidden, :input_html=>{:value=>DateTime.now} %>
  <%= f.input :visitante_id, as: :hidden, :input_html=>{:value=>@visitante.id} %>

 <br/>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', visitantes_path, :class=>'btn btn-default' %>
  </div>
<% end %>
