<%= simple_form_for(@projeto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :departamento_id, :label=>"Departamento", :collection=>Departamento.order("nome ASC").collect {|d| [d.sigla, d.id]}, as: :select %>

    <%= f.input :nome, :label=>"Atividade" %>

  
    <div class="row">
      <div class="col-md-4">
        <%= f.input :data_inicial, :as=>:string, required: true, :input_html=>{:class=>'data', :value=>(@projeto.data_inicial.strftime("%d/%m/%Y") if @projeto.data_inicial != nil)} %>
      </div>
      <div class="col-md-4">
        <%= f.input :data_final, :as=>:string, required: true, :input_html=>{:class=>'data', :value=>(@projeto.data_final.strftime("%d/%m/%Y") if @projeto.data_final != nil)} %>
      </div>
      <div class="col-md-4">
        <% @status = ['PLANEJAMENTO','ELABORAÇÃO','EXECUÇÃO','PRESTAÇÃO DE CONTAS', 'FINALIZADO'] %>

        <%= f.input :status, :label=>"Selecione o Status do Projeto", :collection=>@status %>    
      </div>  
    </div>

    <%= f.input :local %>

    <%= f.input :resumo, :label=>"Justificativa", as: :text, :input_html=>{:rows => 10} %>
    
    <%= f.input :metodo %>

    <%= f.input :custo %>

    <%= f.input :publicado, :label=>"Publicar?" %>
    <br/>
    <%= f.input :user_id, :as=>:hidden, :input_html=>{:value=>current_user.id}%>
   
  </div>

  

  <br/>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', projetos_path, :class=>'btn btn-default' %>
  </div>
<% end %>
