<%= simple_form_for(@ordem) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :acoes %>

    <%= f.input :status, as: :hidden, :input_html=>{:value=>"AGUARDANDO"} %>
    <%= f.input :data_status_aguardando, as: :hidden, :input_html=>{:value=>DateTime.now} %>
    <%= f.input :cabecalho, as: :hidden, :input_html=>{:value=>"#{current_user.name} - #{data_br_completa(DateTime.now)}"} %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Deixar OS Aguardando", :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', ordems_path, :class=>'btn btn-default' %>
  </div>
  <% end %>
