<tr>
  <td><%= @ordem %></td>
  <td><%= ordem.created_at.year %><%= ordem.id %></td>
  <td><%= data_br_completa(ordem.created_at) %></td>
  <td><%= icone_status(ordem.status) %></td>
  <td><%= ordem.user.name %></td>
  <td><%= ordem.departamento.sigla %></td>
  <td><%= ordem.cliente.name %></td>
  <td>

    <%= link_to link_icone('detalhes'),
              ordem_path(ordem), :class => 'btn btn-default', :title=>"Detalhes" %>

    <% if ordem.status == "ABERTO" and ordem.user == current_user %>
      <%= link_to link_icone('editar'),
              edit_ordem_path(ordem), :class => 'btn btn-primary', :title=>"Editar" %>
    <% end %>

    <% if ordem.status == "ABERTO" and current_user == ordem.cliente %>
      <%= link_to "Liberar Equipamento",
              ordem_liberar_equipamento_path(ordem.id), :class => 'btn btn-danger', :title=>"Liberar Equipamento", data: { confirm: 'Liberar Equipamento... Ao clicar em OK você estara concordando com todas as informações que o Técnico obeservou. Você está certo disso?' } %>

    <% end %>

    <% if ordem.status == "ABERTO" and current_user == ordem.user %>
      <%= link_to "Apagar Ordem", ordem_path(ordem), :class=>"btn btn-danger", method: :delete, data: { confirm: 'Você está certo disso?' }, :title=>"Apagar" %>
    <% end %>

    <% if ordem.status == "EM ATENDIMENTO" and current_user == ordem.user %>
      <%= link_to link_icone('concluir'),
              ordem_concluir_ordem_path(ordem), :class => 'btn btn-primary', :title=>"Concluir" %>
      <%= link_to 'Aguardar',
              ordem_aguardando_ordem_path(ordem), :class => 'btn btn-danger', :title=>"Aguardar" %>
    <% end %>

    <% if ordem.status == "AGUARDANDO" and current_user == ordem.user %>
      <%= link_to link_icone('concluir'),
              ordem_concluir_ordem_path(ordem), :class => 'btn btn-primary', :title=>"Concluir" %>

    <% end %>

    <% if ordem.status == "CONCLUIDO" and current_user == ordem.cliente %>
      <%= link_to 'Fechar OS',
            ordem_fechar_ordem_path(ordem), :class => 'btn btn-danger', :title=>"Fechar" %>

    <% end %>

  </td>

</tr>
