<%= simple_form_for(@informativo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% @tipos = ['NOTÍCIA','DECRETO','OFÍCIO', 'NOTÍCIA RAPIDA'] %>

    <%= f.input :tipo, :label=>"Selecione o Tipo de Informação", :collection=>@tipos %>
    <%= f.input :titulo %>
    <%= f.input :informacoes, :label=>"Informação", as: :text, :input_html=>{:rows => 10} %>
    <%= f.input :user_id, :as=>:hidden, :input_html=>{:value=>current_user.id}%>
    <br/>
    <% if !@informativo.avatar.blank? %>
      <p>Imagem Atual</p>
      <p>
        <img src="<%= @informativo.avatar.url(:thumb).to_s %>" class="img img-responsive" alt="Imagem">
      </p>
    <% else %>
      <p>Sem Imagem</p>
    <% end %>
    <br/>
    <%= f.input :avatar, as: :file, :label=>"Selecionar a Imagem", :class => 'btn-primary' %>
    <br/>
    <%= f.input :publicado %>
    <br/>
  </div>

  <br/>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', informativos_path, :class=>'btn btn-default' %>
  </div>
<% end %>
