<% if !current_user.nao_admin %>
	<meta http-equiv="refresh" content="20" />
	<% content_for :abertos_admins do %>
		<% if @abertos.count > 0 %>
  		(<%= @abertos.count %>)
  	<% end %>
	<% end %>
<% end %>

<% if current_user.e_tecnico %>
	<meta http-equiv="refresh" content="60" />
	<% content_for :abertos_admins do %>
		<% if @abertos.count > 0 %>
  		(<%= @abertos.count %>)
  	<% end %>
	<% end %>
<% end %>

<hr/>
<div class="row">
<div class="col-md-12">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Chamados em aberto(<%= @abertos.count %>)</h3>
	  </div>
	  <div class="panel-body">
	    <% if @abertos.count < 1 %>
				<div class="alert alert-info" role="alert">
					 No momento não existem chamados em abertos</a>
				</div>
			<% else %>

				<% if @abertos.count > 0 %>
				<div class="alert alert-danger" role="alert">
					<%= @abertos.count %>  
						<% if @abertos.count < 2 %>
							Chamado em aberto
						<% else %>
							Chamados em aberto
						<% end %>
					</svg></a>
				</div>
				<% end %>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>Data Abertura</th>
							<th>Problema</th>
							<th>Usuario</th>
							<th>Departamento</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<% @abertos.each do |chamado| %>
							<tr>
								<td><%= data_br_completa(chamado.data_status_aberto) %></td>
								<td><%= chamado.problema.descricao %></td>
								<td><%= detalhes2(chamado.user, :name) %></td>
								<td><%= detalhes2(chamado.user.departamento, :sigla) %></td>
								<td>
									<%= link_to link_icone('detalhes'),
              chamado_path(chamado), :class => 'btn btn-default', :title=>"Detalhes" %>
              		<% if chamado.status == "ABERTO" and current_user.e_tecnico %>
      							<%= link_to link_icone('pegar'),
              chamado_pegar_chamado_path(chamado.id, :usuario_id=>current_user.id), :class => 'btn btn-primary', :title=>"Pegar", data: { confirm: 'Você está certo disso?' } %>
              		<% end %>
	            	
	            	</td>
							</tr>
						<% end %>
					</tbody>
				</table>	


			<% end %> 

			
	  </div>
	</div>

</div>
</div>		