<hr/>
<div class="row">

	<div class="col-md-6">	
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Meus Chamados(<%= @meus_chamados.count %>)</h3>
		  </div>
		  <div class="panel-body">
		    <% if @meus_chamados.count < 1 %>
					<div class="alert bg-primary" role="alert">
						 Você não possui chamados </span></a>
					</div>
				<% else %>
					<% if @meus_chamados.last.status == "ABERTO" %>
						<div class="alert alert-success" role="alert"> Você possui 1 chamado em aberto </div>
					<% end %>
					<% if @meus_chamados.last.status == "EM ATENDIMENTO" %>
						<div class="alert alert-info" role="alert"> Você possui 1 chamado em atendimento </div>
					<% end %>
					<% if @meus_chamados.last.status == "CONCLUIDO" %>
						<div class="alert alert-warning" role="alert"> Você possui 1 chamado concluido </div>
					<% end %>
				<% end %> 
				<% if @meus_chamados.count > 0 %>
					<% if (@meus_chamados.last.status == "ABERTO" or @meus_chamados.last.status == "EM ATENDIMENTO" or @meus_chamados.last.status == "CONCLUIDO") %>

							<table class="table table-hover">
								<thead>
									<tr>
										<th>Problema</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><%= @meus_chamados.last.problema.descricao %></td>
										<td>
											<%= link_to link_icone('detalhes'),
			            chamado_path(@meus_chamados.last), :class => 'btn btn-default', :title=>"Detalhes" %>
			            	
			            	</td>
									</tr>
								</tbody>
							</table>	
						
					<% else %>
						<center>Você não possui chamados pendente <%= link_to link_icone('novo'), new_chamado_path, :class=> 'btn btn-success btn-md', :title=>"Novo Chamado" %></center>
					<% end %>
				<% else %>
						<center>Você não possui chamados pendente <%= link_to link_icone('novo'), new_chamado_path, :class=> 'btn btn-success btn-md', :title=>"Novo Chamado" %></center>
				<% end %>
		  </div>
		</div>
	</div>

	<div class="col-md-6">	
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Incidentes Acontecendo(<%= @inci_acontecendo.count %>)</h3>
		  </div>
		  <div class="panel-body">
   			<table class="table table-hover">
					<thead>
						<tr>
							<th>Incidente</th>
							<th>Status</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<% @inci_acontecendo.each do |incidente| %>
							<tr>
								<td><%= detalhes2(incidente.tipo_incidente, :descricao) %></td>
								<td><%= icone_incidente(incidente.status) %></td>
								<td>
									<%= link_to link_icone('detalhes'),
	            incidente_path(incidente), :class => 'btn btn-default', :title=>"Detalhes" %>
	            	
	            	</td>
							</tr>
						<% end %>
					</tbody>
				</table>	
			</div>
		</div>
	</div>

</div>		