<%= simple_form_for(@agenda) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% @tipos = ['REUNIÃO','EVENTO','PALESTRA', 'CURSO'] %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :tipo, :label=>"Selecione o Tipo de Item na Agenda", :collection=>@tipos %>    
      </div>
      <div class="col-md-8">
        <%= f.input :titulo %>  
      </div>
    </div>
    <%= f.input :informacoes, as: :text, :input_html=>{:rows => 10} %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :data_hora, :label=>"Selecione a Data e a Hora" %> 
      </div>
      <div class="col-md-6">
        <%= f.input :publicado, :label=>"Publicar?" %>
      </div>
    </div>    

    <%= f.input :user_id, :as=>:hidden, :input_html=>{:value=>current_user.id}%>
  </div>

  <br/>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', agendas_path, :class=>'btn btn-default' %>
  </div>
<% end %>
