<%= simple_form_for(@passenger) do |f| %>
  
  <div class="form-inputs">

    <div class="row">
      <div class="col-md-6">
        <%= f.input :nome, :label=>"Nome Completo" %>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= f.input :tipo, collection: @lista_tipo_passageiros, as: :select, :include_blank => true %>
      </div>
      <div class="col-md-2">
        <%= f.input :cpf, :label=>"CPF", :input_html=>{:class=>'cpf'} %>
      </div>
      <div class="col-md-2">
        <%= f.input :matricula %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :respaldo %>
      </div>
    </div>
    
  </div>

  <div class="form-actions" align="center">
    <%= f.button :submit, 'Salvar', :class => 'btn btn-primary' %>
    <%= link_to 'Voltar', passengers_path, :class=>'btn btn-default' %>
  </div>
<% end %>
