<% content_for :titulo do %>
  Passageiros
<% end %>

<% content_for :sub_titulo do %>
  
  Lista de Passageiros 
  <%= link_to link_icone('novo'), new_passenger_path, :class=> 'btn btn-success', :title=>"Novo Passageiro" %>
 
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Matricula</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.nome %></td>
        <td><%= passenger.cpf %></td>
        <td><%= detalhes(passenger.matricula) %></td>
        <td><%= passenger.tipo %></td>
        <td>
          <%= link_to link_icone('detalhes'), passenger_path(passenger), :class => 'btn btn-default', :title=>"Detalhes" %>
          <% if can? :update, passenger %>
            <%= link_to link_icone('editar'), edit_passenger_path(passenger), :class => 'btn btn-primary', :title=>"Editar" %>
          <% end %>          
          <% if can? :delete, passenger %>
            <%= link_to link_icone('apagar'), passenger_path(passenger), :class=>"btn btn-danger", method: :delete, data: { confirm: 'Você está certo disso?' }, :title=>"Apagar" %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
