<% content_for :titulo do %>
  Passageiros
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Passageiro
<% end %>

<p>
  <strong>Nome Completo:</strong>
  <%= @passenger.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @passenger.tipo %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= detalhes(@passenger.matricula) %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @passenger.cpf %>
</p>

<p>
  <strong>Respaldo:</strong>
  <%= @passenger.respaldo %>
</p>

<%= link_to link_icone('voltar'), passengers_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<% if can? :update, @passenger %>
  <%= link_to link_icone('editar'), edit_passenger_path(@passenger), :class => 'btn btn-primary', :title=>"Editar" %>
<% end %>          
<% if can? :delete, @passenger %>
  <%= link_to link_icone('apagar'), passenger_path(@passenger), :class=>"btn btn-danger", method: :delete, data: { confirm: 'Você está certo disso?' }, :title=>"Apagar" %> 
<% end %>
<%= link_to link_icone('novo'), new_passenger_path, :class=> 'btn btn-success', :title=>"Novo Passageiro" %>
