<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @arquivo.nome %>
</p>

<p>
  <strong>Informativo:</strong>
  <%= @arquivo.informativo_id %>
</p>

<%= link_to 'Edit', edit_arquivo_path(@arquivo) %> |
<%= link_to 'Back', arquivos_path %>
