<% content_for :titulo do %>
  Estatísticas
<% end %>

<% content_for :sub_titulo do %>
	Estatísticas

<% end %>

<%= form_tag("/estatisticas/index", method: "get") do %>
 	<strong>De:</strong>
  <%= select_tag(:mini, options_for_select(@meses), include_blank: true) %>
  <strong>/</strong>
  <%= select_tag(:aini, options_for_select(2015.upto(DateTime.now.year)), include_blank: true) %>
  &nbsp;&nbsp;
  <strong>a</strong>
  &nbsp;&nbsp;
  <%= select_tag(:mfim, options_for_select(@meses), include_blank: true) %>
  <strong>/</strong>
  <%= select_tag(:afim, options_for_select(2015.upto(DateTime.now.year)), include_blank: true) %>


  <%= submit_tag("Pesquisar") %>
<% end %>

<br/><br/>
<h3><strong>Total de Chamados: <%= @chamados.count %> </strong></h3>
<h4><strong>Período pesquisado: <%= @ini.strftime("%d/%m/%Y")  %> a <%= @fim.strftime("%d/%m/%Y") %></strong></h4>

<br/>
<hr/>

<h4><strong> RELATÓRIO DE ATENDIMENTOS POR TÉCNICO </strong></h4>
<br/>

<table id="tabela" class="displaytecnico" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>TECNICO</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
			<th>AVALIADOS</th>
			<th>RENDIMENTO DO TECNICO</th>

		</tr>
	</thead>
	<tbody>
		<% @tecnicos.each do |t| %>
			<% avaliados = 0 %>
			<% if t.atendimentos.no_periodo(@ini, @fim).count > 0 %>
				<% t.atendimentos.no_periodo(@ini, @fim).each do |nf| %>
					<% if !nf.data_status_fechado.blank? %>
						<% avaliados = avaliados + 1 %>
					<% end %>
				<% end %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.atendimentos.no_periodo(@ini, @fim).count %></td>
					<td><%= ((t.atendimentos.no_periodo(@ini, @fim).count)*100)/@chamados.count %>%</td>
					<td><%= avaliados %></td>

					<% ctf = 0 %>
					<% ctr = 0 %>
					<% ctn = 0 %>
					<% ctb = 0 %>
					<% cto = 0 %>

					<% t.atendimentos.no_periodo(@ini, @fim).each do |c| %>
						<% if c.status == "FECHADO" %>
							<% ctf = ctf + 1 %>
							<% if c.nivel_satisfacao_usuario == 1 %>
								<% ctr = ctr + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 2 %>
								<% ctn = ctn + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 3 %>
								<% ctb = ctb + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 4 %>
								<% cto = cto + 1 %>
							<% end %>
						<% end %>
					<% end %>

					<% if ctf > 0 %>
						<% ctf %>
						<% total = ((ctr * 1)+(ctn * 2)+(ctb*3)+(cto*4)) %>
						<% rendimento = (total.to_f/ctf.to_f).to_f %>
						<% percentual = ((100 * total.to_f)/(ctf.to_f * 4)).to_f %>
						
						<td>
							<% if rendimento < 1.5 %>
								<%= "RUIM" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% elsif rendimento >= 1.5 and rendimento < 2.5 %>
								<%= "NORMAL" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% elsif rendimento >= 2.5 and rendimento < 3.5 %>
								<%= "MUITO BOM" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% else %> 
								<%= "OTIMO" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% end %> 	
						</td>
					<% else %>
						<td></td>
					<% end %>

				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br/>
<hr/>

<h4><strong> RELATÓRIO DE ABERTURA POR USUÁRIO </strong></h4>
<br/>

<table id="tabela" class="displayusuario" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>REQUISITANTE</th>
			<th>DEPARTAMENTO</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
			<th>AVALIOU</th>
			<th>NIVEL DE SATISFAÇÃO DO USUÁRIO</th>
		</tr>
	</thead>
	<tbody>
		<% @normais.each do |t| %>
			<% avaliados = 0 %>
			<% if t.chamados.no_periodo(@ini, @fim).count > 0 %>
				<% t.chamados.no_periodo(@ini, @fim).each do |nf| %>
						<% if !nf.data_status_fechado.blank? %>
							<% avaliados = avaliados + 1 %>
						<% end %>
					<% end %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.departamento.sigla %></td>
					<td><%= t.chamados.no_periodo(@ini, @fim).count %></td>
					<td><%= ((t.chamados.no_periodo(@ini, @fim).count)*100)/@chamados.no_periodo(@ini, @fim).count %>%</td>
					<td><%= avaliados %></td>

					<% ctf = 0 %>
					<% ctr = 0 %>
					<% ctn = 0 %>
					<% ctb = 0 %>
					<% cto = 0 %>

					<% t.chamados.no_periodo(@ini, @fim).each do |c| %>
						<% if c.status == "FECHADO" %>
							<% ctf = ctf + 1 %>
							<% if c.nivel_satisfacao_usuario == 1 %>
								<% ctr = ctr + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 2 %>
								<% ctn = ctn + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 3 %>
								<% ctb = ctb + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 4 %>
								<% cto = cto + 1 %>
							<% end %>
						<% end %>
					<% end %>

					<% if ctf > 0 %>
						<% ctf %>
						<% total = ((ctr * 1)+(ctn * 2)+(ctb*3)+(cto*4)) %>
						<% rendimento = (total.to_f/ctf.to_f).to_f %>
						<% percentual = ((100 * total.to_f)/(ctf.to_f * 4)).to_f %>
						
						<td>	
							<% if rendimento < 1.5 %>
								<%= "RUIM" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% elsif rendimento >= 1.5 and rendimento < 2.5 %>
								<%= "NORMAL" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% elsif rendimento >= 2.5 and rendimento < 3.5 %>
								<%= "MUITO BOM" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% else %>
								<%= "OTIMO" %> <%= percentual.round(1) %>% DE SATISFAÇÃO
							<% end %>
						</td>
					<% else %>
						<td></td>
					<% end %>

				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br/>
<hr/>

<h4><strong> RELATÓRIO DE ABERTURA POR DEPARTAMENTO </strong></h4>
<br/>


<table id="tabela" class="displaydepartamento" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>DEPARTAMENTO</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
		</tr>
	</thead>
	<tbody>
		<% @departamentos.each do |d| %>
			<% if d.chamados.no_periodo(@ini, @fim).count > 0 %>
				<tr>
					<td><%= d.sigla %></td>
					<td><%= d.chamados.no_periodo(@ini, @fim).count %></td>
					<td><%= (d.chamados.no_periodo(@ini, @fim).count*100)/@chamados.no_periodo(@ini, @fim).count %>%</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>


<br/>
<hr/>

<h4><strong> RELATÓRIO DE ABERTURA POR PROBLEMA </strong></h4>
<br/>

<table id="tabela" class="displayproblema" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>TIPO</th>
			<th>PROBLEMA</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
		</tr>
	</thead>
	<tbody>
		<% @problemas.each do |p| %>
			<% if p.chamados.no_periodo(@ini, @fim).count > 0 %>
				<tr>
					<td><%= p.tipo %></td>
          <td><%= p.descricao %></td>
					<td><%= p.chamados.no_periodo(@ini, @fim).count %></td>
					<td><%= ((p.chamados.no_periodo(@ini, @fim).count)*100)/@chamados.no_periodo(@ini, @fim).count %>%</td>
        </tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br/>
<hr/>

<% cores = ['#E32636','#FFFF00', '#DFC3E0', '#ECD690', '#F2B73F', '#ADFF2F', '#EEAD2D', '#DDA0DD', '#9966CC', '#7BA05B', '#0000FF', '#6A5ACD', '#00BDCE', '#054F77', '#a6aa3e', '#8B5742', '#DC143C', '#712F26', '#DE3163', '#808080', '#C9A9A9' '#F08080', '#BDB76B', '#FF2400', '#555D50', '#44D7A8', '#B7410E', '#3D2B1F', '#831D1C', '#2E8B57', '#DF73FF', '#4C516D', '#00A86B', '#E79FC4', '#C8A2C8', '#BC8F8F', '#808000', '#000000', '#8A008A', '#705714', '#FF2401', '#ECDB00'] %>


	<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		theme: "theme1",
		title:{
			text: "Grafico por Problema"
		},
		subtitles:[
			{
				text: "SISCOM - SEED"
				//Uncomment properties below to see how they behave
				//fontColor: "red",
				//fontSize: 30
			}
		],
		exportEnabled: true,
		showInLegend: true,
    legend: {
      horizontalAlign: "right",
      verticalAlign: "center"
    },
    data: [
		{
			type: "pie",
			showInLegend: true,
			toolTipContent: "{indexLabelMod} - {y} - #percent %",
			yValueFormatString: "#0. Vezes",
			legendText: "{indexLabel}",
			indexLabelPlacement: "inside",
			showIndexLabel: false,

			<% valor = 1 %>

			dataPoints: [

				<% @problemas.each do |p| %>
					<% if p.chamados.no_periodo(@ini, @fim).count > 0 %>
							<% x = p.chamados.no_periodo(@ini, @fim).count %>
							{  y: <%= x.to_int %>,
								 indexLabelMod: "<%= p.descricao %>",
							   color: "<%= cores[valor] %>",
							   legendText: "<%= p.descricao %> | {y} - #percent % ." },


					<% end %>
					<% valor = valor + 1 %>
				<% end %>

			]
		}
		]
	});


	chart.render();

var canvas = $("#chartContainer .canvasjs-chart-canvas").get(0);
var dataURL = canvas.toDataURL();
//console.log(dataURL);

$("#exportButton").click(function(){
    var pdf = new jsPDF();
    pdf.addImage(dataURL, 'JPEG', 0, 0);
    pdf.save("download.pdf");
});


}
	</script>


<div id="chartContainer" style="height: 800px; width: 200%;"></div>
<!--<button id="exportButton" type="button">Exportar para PDF</button>-->



