<% content_for :titulo do %>
  Estatísticas
<% end %>

<% content_for :sub_titulo do %>
	Estatísticas

<% end %>

<%= form_tag("/estatisticas/index", method: "get") do %>
 	<strong>De:</strong>
  <%= select_tag(:mini, options_for_select(@meses), include_blank: true) %>
  <strong>/</strong>
  <%= select_tag(:aini, options_for_select(2015.upto(DateTime.now.year)), include_blank: true) %>
  &nbsp;&nbsp;
  <strong>a</strong>
  &nbsp;&nbsp;
  <%= select_tag(:mfim, options_for_select(@meses), include_blank: true) %>
  <strong>/</strong>
  <%= select_tag(:afim, options_for_select(2015.upto(DateTime.now.year)), include_blank: true) %>


  <%= submit_tag("Pesquisar") %>
<% end %>

<br/><br/>
<h3><strong>Total de Chamados: <%= @chamados.count %> </strong></h3>
<h4><strong>Período pesquisado: <%= @ini.strftime("%d/%m/%Y")  %> a <%= @fim.strftime("%d/%m/%Y") %></strong></h4>

<br/>
<hr/>

<h4><strong> RELATÓRIO DE ATENDIMENTOS POR TÉCNICO </strong></h4>
<br/>

<table id="tabela" class="display2" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>TECNICO</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
			<th>RUIM</th>
			<th>NORMAL</th>
			<th>BOM</th>
			<th>OTIMO</th>
		</tr>
	</thead>
	<tbody>
		<% @tecnicos.each do |t| %>
			<% if t.atendimentos.no_periodo(@ini, @fim).count > 0 %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.atendimentos.no_periodo(@ini, @fim).count %></td>
					<td><%= ((t.atendimentos.no_periodo(@ini, @fim).count)*100)/@chamados.count %>%</td>

					<% ctf = 0 %>
					<% ctr = 0 %>
					<% ctn = 0 %>
					<% ctb = 0 %>
					<% cto = 0 %>

					<% t.atendimentos.no_periodo(@ini, @fim).each do |c| %>
						<% if c.status == "FECHADO" %>
							<% ctf = ctf + 1 %>
							<% if c.nivel_satisfacao_usuario == 1 %>
								<% ctr = ctr + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 2 %>
								<% ctn = ctn + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 3 %>
								<% ctb = ctb + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 4 %>
								<% cto = cto + 1 %>
							<% end %>
						<% end %>
					<% end %>

					<% if ctf > 0 %>
						<td><%= (ctr * 100)/ctf %>%</td>
						<td><%= (ctn * 100)/ctf %>%</td>
						<td><%= (ctb * 100)/ctf %>%</td>
						<td><%= (cto * 100)/ctf %>%</td>
					<% else %>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					<% end %>

				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br/>
<hr/>

<h4><strong> RELATÓRIO DE ABERTURA POR USUÁRIO </strong></h4>
<br/>

<table id="tabela" class="display2" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>REQUISITANTE</th>
			<th>DEPARTAMENTO</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
			<th>RUIM</th>
			<th>NORMAL</th>
			<th>BOM</th>
			<th>OTIMO</th>
		</tr>
	</thead>
	<tbody>
		<% @normais.each do |t| %>
			<% if t.chamados.no_periodo(@ini, @fim).count > 0 %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.departamento.sigla %></td>
					<td><%= t.chamados.no_periodo(@ini, @fim).count %></td>
					<td><%= ((t.chamados.no_periodo(@ini, @fim).count)*100)/@chamados.no_periodo(@ini, @fim).count %>%</td>

					<% ctf = 0 %>
					<% ctr = 0 %>
					<% ctn = 0 %>
					<% ctb = 0 %>
					<% cto = 0 %>

					<% t.chamados.no_periodo(@ini, @fim).each do |c| %>
						<% if c.status == "FECHADO" %>
							<% ctf = ctf + 1 %>
							<% if c.nivel_satisfacao_usuario == 1 %>
								<% ctr = ctr + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 2 %>
								<% ctn = ctn + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 3 %>
								<% ctb = ctb + 1 %>
							<% end %>
							<% if c.nivel_satisfacao_usuario == 4 %>
								<% cto = cto + 1 %>
							<% end %>
						<% end %>
					<% end %>

					<% if ctf > 0 %>
						<td><%= (ctr * 100)/ctf %>%</td>
						<td><%= (ctn * 100)/ctf %>%</td>
						<td><%= (ctb * 100)/ctf %>%</td>
						<td><%= (cto * 100)/ctf %>%</td>
					<% else %>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					<% end %>

				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br/>
<hr/>

<h4><strong> RELATÓRIO DE ABERTURA POR DEPARTAMENTO </strong></h4>
<br/>


<table id="tabela" class="display2" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>DEPARTAMENTO</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
		</tr>
	</thead>
	<tbody>
		<% @departamentos.each do |d| %>
			<% if d.chamados.no_periodo(@ini, @fim).count > 0 %>
				<tr>
					<td><%= d.sigla %></td>
					<td><%= d.chamados.no_periodo(@ini, @fim).count %></td>
					<td><%= (d.chamados.no_periodo(@ini, @fim).count*100)/@chamados.no_periodo(@ini, @fim).count %>%</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>


<br/>
<hr/>

<h4><strong> RELATÓRIO DE ABERTURA POR PROBLEMA </strong></h4>
<br/>

<table id="tabela" class="display2" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>TIPO</th>
			<th>PROBLEMA</th>
			<th>TOTAL</th>
			<th>PERCENTUAL</th>
		</tr>
	</thead>
	<tbody>
		<% @problemas.each do |p| %>
			<% if p.chamados.no_periodo(@ini, @fim).count > 0 %>
				<tr>
					<td><%= p.tipo %></td>
          <td><%= p.descricao %></td>
					<td><%= p.chamados.no_periodo(@ini, @fim).count %></td>
					<td><%= ((p.chamados.no_periodo(@ini, @fim).count)*100)/@chamados.no_periodo(@ini, @fim).count %>%</td>
        </tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br/>
<hr/>

	<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		theme: "theme2",
		title:{
			text: "Grafico por Problema"
		},
		legend: {
      horizontalAlign: "right",
      verticalAlign: "center"
    },
		data: [
		{
			type: "pie",
			showInLegend: true,
			toolTipContent: "{y} - #percent %",
			yValueFormatString: "#0. Vezes",
			legendText: "{indexLabel}",

			<% valor = 1 %>

			dataPoints: [

				<% @problemas.each do |p| %>
					<% if p.chamados.no_periodo(@ini, @fim).count > 0 %>
							<% x = p.chamados.no_periodo(@ini, @fim).count %>
							{  y: <%= x.to_int %>, indexLabel: "<%= p.descricao %>(<%= x %>)",
							   color: "#<%= valor %>F4F4F" },
							
					<% end %>
					<% valor = valor + 2 %>
				<% end %>

			]
		}
		]
	});












	chart.render();
}
	</script>
	
<div id="chartContainer" style="height: 400px; width: 100%;"></div>