<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

  
  <title>Siscom | Seed </title>
  

<!-- core CSS -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->     
    <%= csrf_meta_tags %>
   
  </head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  
  <% if !current_user %>  
    <!-- header nav -->
    <%= render 'layouts/intranet/nav' %>
    <!-- sidebar lateral -->
    <%= render 'layouts/intranet/sidebar' %>
  <% else %>
    <!-- header nav -->
    <%= render 'layouts/nav' %>
    <!-- sidebar lateral -->
    <%= render 'layouts/sidebar' %>
  <% end %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <%= yield :titulo_intra %>
    <%= yield :corpo_intra %>

    <% if params[:controller].to_s == 'intranet' and params[:action].to_s == 'index' %>
    
    <% else %>
      <!-- Main content -->
      <section class="content">

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><%= yield :sub_titulo %></h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          
          <div class="box-body">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
          <!-- /.box-body -->
        </div>
      
      </section>
      <!-- /.content -->

    <% end %>

  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>NUINFO</b>
    </div>
    <strong>Copyright &copy; 2016 <a href="http://192.168.0.254">Seed</a>.</strong> All rights
    reserved.
  </footer>

  
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<%= javascript_include_tag 'application' %>


</body>





</html>
